body {
  background-color: rgba(214, 214, 214, 0.562);
  text-align: center;
}

header {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

img {
  width: 1.5em;
}

button {
  border-radius: 50%;
  border: 2px solid rgb(36, 36, 36);
  width: 3em;
  height: 3em;
  margin-right: 20px;
}

canvas {
  border: 1em solid rgb(112, 112, 112);
  border-radius: 25px;
}
