body {
  background-color: rgba(214, 214, 214, 0.562);
  text-align: center;
}

header {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

canvas {
  border: 1em solid rgb(112, 112, 112);
  border-radius: 25px;
}
